.categories__main{
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}

.categories__main__title{
    font-size: 2em;
    font-weight: 900;
}

.categories__main__content{
    font-size: 1.5em;
    width: 50%;
    margin: 20px auto;
}
.carousel-indicators{
    height: 100vh;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
